@model List<UdemyProject.DataAccesLayer.Entities.Experience>


<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>Deneyimlerim</h3>
    </div>

    <div class="col-six tab-full left">
        <div class="timeline">
            @foreach (var item in Model)
            {

                
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">@item.Date</p>
                        <h3>@item.Header</h3>
                        <h5>@item.Title</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>@item.Desc</p></div>
                </div>

            }
            <!-- end timeline__block -->

            

</div> <!-- end about-content timeline -->