@model List<UdemyProject.DataAccesLayer.Entities.Skills>
@{
    int x = 0;
}

<div class="col-six tab-full right">
    <h3>Bazı Programlama Dilleri ve Teknolojiler</h3>

    <ul class="skill-bars">

        @foreach (var item in Model)
        {
            x = item.Value;
            <li>
                <div class="progress percent  "><span>@item.Value</span></div>
                <strong>@item.SkillTitle</strong>
            </li>

        }


    </ul>
</div>